<div class='search1'>
    <%= image_tag "logo.png", :class => "logo" %>

    <div class="query">
        <form action="/search" method="post" class="fadeIn ">
            <div class="ui  icon input round">
                <input name="query" type="text" placeholder="Search..." class='round'>
                <i class="search icon"></i>
            </div>
        </form>
    </div>
</div>